lxml>=5.3.0
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-qdrant
langsmith
guardrails-ai
dspy
langgraph
qdrant-client
fastapi
uvicorn
python-dotenv
numpy
PyYAML
SQLAlchemy
aiohttp
annotated-types
anyio
attrs
certifi
httpx
requests
pydantic
langchain_mcp_adapters